build==1.5.1
setuptools==83.0.0
wheel==0.47.0
coverage==7.15.0
${{VAR_REQUIREMENTS_LINT}}
${{VAR_REQUIREMENTS_TYPE_CHECK}}
${{VAR_REQUIREMENTS_DEPLOY}}
${{VAR_REQUIREMENTS_DOCS}}
${{VAR_REQUIREMENTS_DOCS_DOCSTRINGS}}
